
/*adapted from http://codepen.io/devatrox/pen/wztlx - Jason Nickel*/
html {
	height: 100%;
}

body {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-bottom: 70px;
	font-family: 'Orbitron', sans-serif;
}

.cover { /*image from https://www.transparenttextures.com/*/
	background-color: rgba(0,0,0,.6);
	background-image: url(../img/otis-redding.png);
	z-index:10;
	top: 0;
	position:absolute;
	width: 100vw;
	height: 100vh;
}

.custom-btn{ /*site navigation buttons*/
	display: inline-block;
	font-size: 2rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #880054 !important;
	background-color: lightgrey;
	border: none;
	border-radius: 10%;
	box-shadow: inset 0 0 10px #1A1818;
	width: 30vw;
	transition-duration: 500ms;
}
.custom-btn:hover{ /*site navigation buttons*/
	color: #C1002F !important;
	background-color: dimgray;
	box-shadow: inset 0 0 5px #1A1818;
	transition-duration: 500ms;
}
.custom-btn:active{ /*site navigation buttons*/
	color: #FF3E00 !important;
	background-color: #1A1818;
	box-shadow: inset 0 0 5px dimgray;
	transition-duration: 200ms;
}
/*********************************************************
navbar
*********************************************************/
.navbar { /*texture from https://www.transparenttextures.com/*/
	min-height: 10%;
	background-color: rgba(184,184,184,.5);
	background-image: url(../img/gplay.png);

 }
.navbar-toggle {
	color: #1A1818;
}
.navbar-dark .navbar-brand {
	font-size: 4rem;
	background: linear-gradient(270deg,white, white, white, white, #31018C,#31018C, #4C007E, #4C007E, #880054, #880054, #C1002F, #C1002F, #FF3E00, #FF3E00, #FF7D00, #FF7D00, #FFB300, #FFB300, #FCFC07, #FCFC07, #B7F113, #B7F113, white, white, white, white);
);
	background-size: 800% 800%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navbar-dark .navbar-brand:hover {

}
.animate-nav {
	background: linear-gradient(270deg,white, white, white, white, #31018C,#31018C, #4C007E, #4C007E, #880054, #880054, #C1002F, #C1002F, #FF3E00, #FF3E00, #FF7D00, #FF7D00, #FFB300, #FFB300, #FCFC07, #FCFC07, #B7F113, #B7F113, white, white, white, white);
);
	background-size: 800% 800%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: bg-shift 4s;

}

@keyframes bg-shift {
	0%{
		background-position:0% 50%
	}
	50%{
		background-position:100% 50%
	}
	100%{
		background-position:0% 50%
	}
}
@keyframes fade-to-black {
	0%{
		color: #31018C;
	}
	100%{
		color: #1A1818;
	}
}


@keyframes pulsate-out{ /*animation for header text*/
	0% {
		color: #31018C !important;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	10% {
		color: #4C007E;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	20% {
		color: #880054;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	30% {
		color: #C1002F;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	40% {
		color: #FF3E00;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	50% {
		color: #FF7D00;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	60% {
		color: #FFB300;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	70% {
		color: #FCFC07;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	80% {
		color: #B7F113;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	90% {
		color: #11CA99;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
	100% {
		color: #31018C !important;;
		text-shadow:0rem 0rem 0.25rem white !important;
	}
}

@media (max-width: 750px) {
	.navbar-fixed-top{
		display: none;
	}
}
@media (min-width: 750px) {
	.navbar-fixed-bottom{
		display: none;
	}
}

/**********************************************************
parallax only for large screens
**********************************************************/
@media (min-width: 750px) {
	.mobile-background{
		display: none;
	}
	.filler {
		display: none;
	}
	/*parallax effect by david walsh https://davidwalsh.name/parallax*/
	.parallax [class*="bg__"] {
		position: relative;
		height: 50vh;
		text-indent: -9999px;
		background-attachment: fixed;
		background-position: top center;
		background-size: cover;
	}

	.parallax [class*="bg__"]:nth-child(2n) {
		box-shadow: inset 0 0 1em #111;
	}

	.parallax .bg__foo, .parallax .bg__bazz {
		height: 100vh;

	}

	.parallax .bg__foo {
		background-image: url(../img/center-1733895.jpg);
		filter: grayscale(100%);
		filter: blur(10px);
	}

	.parallax .bg__bar {
		background-image: url(../img/center-1733895.jpg);
		filter: grayscale(100%);
	}

	.parallax .bg__baz {
		background-image: url(../img/center-1733895.jpg);
	}

	.parallax .bg__bazz {
		background-image: url(../img/center-1733895.jpg);
		filter: grayscale(100%);
	}

	.parallax .bg__break {
		box-shadow: inset 0 0 1em #111;
		background-image: url(../img/center-1733895.jpg);
	}

	.parallax .capture {
		float: right;
		width: 200px;
		padding: 1em;
		margin: -1.5em 1em 0 0;
		text-indent: 0;
		background: rgba(243, 243, 243, 0.75);
		box-shadow: 0 1px 0.125em #333;
	}

	article .container {
		width: 600px;
		margin: 0 auto;
	}

	article header {
		position: relative;
		margin: -5em 0 0 0;
		padding: 1em;
		text-align: left;
		font-size: 2em;
		color: #333;
		background-color: rgba(255, 255, 255, 0.75);
	}

	article h1, article h2 {
		margin: 0 0 0.333em;
	}

	article section {
		padding: 3em;
	}

	article section.parallax {
		margin: 0;
		padding: 0;
	}
}
/**********************************************************
background for mobile devices
**********************************************************/
@media (max-width: 750px) {
	/*.mobile-background {
		height: 87vh;
		background-image: url(../img/center-1733895.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;

	}*/
	.mobile-background {
		background-image: url(../img/center-1733895.jpg);
		background-size: 1400px;
		background-position: center;
		height: 100vh;
		background-repeat: no-repeat;
		z-index: -1;
	}

	.filler {
		height: 100vh;
		background: transparent;
	}



}
a, a:visited, a:active {
	color: #f66;
}

.v-center {
	padding-top: 55vh;
}